@model List<OrderManagement.Web.DTOs.MenuTableWebDto.ResultMenuTableWebDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Masa İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Masa Listesi</div>
                    </div>
                    <div class="card-body">
                        <table class="table mt-3">
                            <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Masa Adı</th>
                                <th scope="col">Durum</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr class="text-center">
                                    <td>@count</td>
                                    <td>@item.Name</td>
                                    <td>@item.Status</td>
                                    <td>
                                        <a href="/MenuTables/UpdateMenuTable/@item.Id">
                                            <img src="@Url.Content("~/img/edit.png")" alt="Edit Image" width="20" height="20">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/MenuTables/DeleteMenuTable/@item.Id"
                                           onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            <img src="@Url.Content("~/img/delete.png")" alt="Delete Image" width="20" height="20">
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <a href="/MenuTables/CreateMenuTable" class="btn btn-outline-primary">Masa Ekle</a>
                        <a href="/MenuTables/TableListByStatus" class="btn btn-outline-warning">Anlık Masa Durumlarını Gör</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>