@model List<OrderManagement.Web.DTOs.SocialMediaWebDto.ResultSocialMediaWebDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Sosyal Medya İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Sosyal Medya Listesi</div>
                    </div>
                    <div class="card-body">
                        <table class="table mt-3">
                            <thead>
                            <tr class="text-center">
                                <th scope="col">Sosyal Medya Id</th>
                                <th scope="col">Sosyal Medya Başlığı</th>
                                <th scope="col">Sosyal Medya Url'i</th>
                                <th scope="col">Sosyal Medya Iconu</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td>@item.Id</td>
                                    <td>@item.Title</td>
                                    <td>@item.Url</td>
                                    <td>@item.Icon</td>
                                    <td>
                                        <a href="/SocialMedias/UpdateSocialMedia/@item.Id">
                                            <img src="@Url.Content("~/img/edit.png")" alt="Edit Image" width="20" height="20">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/SocialMedias/DeleteSocialMedia/@item.Id"
                                           onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            <img src="@Url.Content("~/img/delete.png")" alt="Delete Image" width="20" height="20">
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <a href="/SocialMedias/CreateSocialMedia" class="btn btn-outline-primary">Sosyal Medya Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>