@model List<OrderManagement.Web.DTOs.SliderWebDto.ResultSliderWebDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Öne Çıkan Listesi</div>
                    </div>
                    <div class="card-body">
                        <table class="table mt-3">
                            <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Başlık 1</th>
                                <th scope="col">Başlık 2</th>
                                <th scope="col">Başlık 3</th>
                                <th scope="col">Açıklama 1</th>
                                <th scope="col">Açıklama 2</th>
                                <th scope="col">Açıklama3</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            { count++;
                                <tr class="text-center">
                                    <td>@count</td>
                                    <td>@item.Title1</td>
                                    <td>@item.Title2</td>
                                    <td>@item.Title3</td>
                                    <td>@item.Description1</td>
                                    <td>@item.Description2</td>
                                    <td>@item.Description3</td>
                                    <td>
                                        <a href="/Sliders/UpdateSlider/@item.Id">
                                            <img src="@Url.Content("~/img/edit.png")" alt="Edit Image" width="20" height="20">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/Sliders/DeleteSlider/@item.Id"
                                           onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            <img src="@Url.Content("~/img/delete.png")" alt="Delete Image" width="20" height="20">
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <a href="/Sliders/CreateSlider" class="btn btn-outline-primary">Öne Çıkan Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>